/* .details {
  display: flex;
  gap: 30px;
  padding: 30px;
}

.details img {
  width: 300px;
  border-radius: 8px;
}

.info button {
  margin-top: 20px;
  padding: 10px 16px;
  background-color: #222;
  color: white;
  border: none;
  cursor: pointer;
}

.info button:hover {
  background-color: #444;
} */  

.details {
  max-width: 1100px;
  margin: 40px auto;
  display: flex;
  gap: 50px;
  align-items: flex-start;
}

.details img {
  width: 420px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.info {
  flex: 1;
}

.info h2 {
  margin-top: 0;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin: 12px 0;
}

.info button {
  margin-top: 25px;
  padding: 12px 18px;
  background-color: #222;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.info button:hover {
  background-color: #444;
}

